* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utils */

:root {
    --container-padding-x: 16px;
    --first-purple: #5c5589;
}

@media (min-width: 768px) {
    :root {
        --container-padding-x: 32px;
    }
}



.flex {
    display: flex;
}

.align-cc {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.p-1 {
    padding: 1rem;
}

.pl-2 {
    padding: 1.5rem;
}

.ml-3 {
    margin: 2rem;
}

.self-right {
    justify-self: end;
}

/* Styles */

.header-container {
    height: 64px;
}

.lg-container {
    max-width: 1440px;
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.header-container span {
    color: var(--first-purple);
    font-size: 16px;
    font-weight: 600;
}

.signed-out li {
    margin-right: 32px;
}

.auth-buttons a:first-child {
    margin-right: 8px;
}

.auth-buttons {
    margin-left: auto; /* Para absorber el espacio de la izquierda y mandarlo al otro lado o sea, a la derecha */
}

.auth-buttons a {
    font-size: 14px;
    height: 32px;
}

.btn-xs {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-weight: 600;
    justify-content: center;
    transition: background-color .1s ease-in;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 14px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-primary {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
    background-color: rgb(96 79 205/var(--tw-bg-opacity));
    border: 1px solid rgb(19 11 67/var(--tw-border-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.btn-primary:hover {
    background-color: var(--first-purple);
}

.btn-secondary {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
    background-color: rgb(250 250 255/var(--tw-bg-opacity));
    border:1px solid rgb(96 79 205/var(--tw-border-opacity));
    color: rgb(96 79 205/var(--tw-text-opacity));
}

.btn-secondary.btn-xs {
    box-shadow: 0 2px 4px rgba(79,114,205,.2);
}

.btn-primary.btn-xs {
    box-shadow: 0 2px 4px rgba(79,114,205,.2);
}